<% if @campaign.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-danger">
			The form contains <%= pluralize(@campaign.errors.count, "error") %>
		</div>		

		<ul>
			<% @campaign.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for [@user, @campaign] do |f| %>
			<div class="field">
				<%= f.label :title %>
				<%= f.text_field :title %>
			</div>

			<div class="field">
				<%= f.label :review %>
				<%= f.text_field :review %>
			</div>

			<div class="field">
				<%= f.label :description %>
				<%= f.text_field :description %>
			</div>

			<div class="field">
				<%= f.label :category %>
				<%= f.select :category, ['Medical', 'Education', 'Charity', 'Community', 'Events'] %>
			</div>

			<div class="field">
				<%= f.label :image_url %>
				<%= f.url_field :image_url %>
			</div>

			<div class="field">
				<%= f.label :end_date %>
				<%= f.date_field :end_date, min: Date.today, max: @campaign.end_date%>
			</div>

			<div class="actions">
				<%= f.submit %>
			</div>
		<% end %>
	</div>
	<% if @campaign.donations.empty? %>
		<%= link_to "Delete", user_campaign_path(current_user, @campaign), method: :delete, data: { confirm: "Are you sure?" } %>
	<% end %>
</div>