<% if @campaign.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-danger">
			The form contains <%= pluralize(@campaign.errors.count, "error") %>
		</div>		

		<ul>
			<% @campaign.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<center><h3> Modify campaign </h3></center>
		<%= form_for [@user, @campaign] do |f| %>
			<div class="form-group">
				<%= f.label :title, "Title:" %>
				<%= f.text_field :title, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :review, "Review:" %>
				<%= f.text_area :review, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :description, "Description:" %>
				<%= f.text_area :description, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :category, "Category:" %><br>
				<%= f.select :category, ['Medical', 'Education', 'Charity', 'Community', 'Events'], class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :image_url, "Image url:" %>
				<%= f.url_field :image_url, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :end_date, "End date:" %>
				<%= f.date_field :end_date, min: Date.today, max: @campaign.end_date, class: "form-control" %>
			</div>

			<%= button_tag(type: 'submit', class: "btn") do %>
	 			<i class="icon-ok icon-white"></i> Update campaign
			<% end %>
		<% end %>
		
		<% if @campaign.donations.empty? %>
			<%= link_to "Delete", user_campaign_path(current_user, @campaign), method: :delete, data: { confirm: "Are you sure?" } %>
		<% end %>
	</div>
</div>