<div class="container-fluid bg-3 text-center">
	<h2>Medical campaigns</h2><br>
	<% count=0 %>
	<% @campaigns.each do |campaign| %>
		<% if campaign.goal > campaign.donations.sum(:amount) and Date.today <= campaign.end_date %>
			<% if count%4==0 %>
				<div class="row">
			<% end %>
			<% count=count+1 %>
			<a href=/campaigns/<%= campaign.id %>>
				<div class="col-sm-3">
					<% if !campaign.image_url.blank? %>
						<img src=<%= campaign.image_url %> class="img-responsive" style="width:100%" alt="Image">
					<% else %>
						<img src="http://carlocklibrary.com/wp-content/uploads/2016/12/go-fund-me-logo.png" class="img-responsive" style="width:100%" alt="Image">
					<% end %>
					<dt><%= campaign.title %></dt>
					<kbd><%= campaign.category %></kbd><br>
					<t>Goal: $<%= number_with_precision(campaign.goal, :precision => 2) %></t><br>
					<t>Donated: $<%= number_with_precision(campaign.donations.sum(:amount), :precision => 2) %></t>
				</div>
			</a>
			<% if count%4==0 %>
				</div>
			<% end %>
		<%end %>
	<% end %>
</div><br><br>